<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed and designed by Saddam Shaikh.</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/saddam-shaikh30/" target="_blank" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/Saddamsk30" target="_blank" class="a-green">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:shaikhsaddam30@gmail.com" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
