<div class="accordion-left">
  <mat-accordion>
    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Languages</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>Fluent <strong><span class="default-highlight">English</span></strong></p>
        <p>Advanced <strong><span class="default-highlight">Hindi,Marathi</span></strong></p>
        <p>Native <strong><span class="default-highlight">Urdu,Hindi</span></strong></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>University</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <ul>
          <li>2016 - MCA - <strong><span class="default-highlight">Master Of Computer Application</span></strong> - Master's Degree</li>
          <li>Final Year Project | Online Heart Disease System</li>
        </ul>
        <ul>
          <li>2013 - BCA - <strong><span class="default-highlight">Bachelor Of Computer Application</span></strong> - Bachelor's Degree</li>
      
          <li>Final Year Project | Online Book Store System </li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Technical</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>Online Self Learned - <strong><span class="default-highlight">Frontend Development with Angular, React, TypeScript, and JavaScript</span></strong> 2023 - 2025</p>
        <ul>
          <li>
            A frontend development course focused on building modern, responsive, and dynamic web applications. 
            Technologies include Angular, React, TypeScript, JavaScript, HTML5, CSS3, Bootstrap5, API Integration, and responsive UI design.
          </li>
        </ul>
        <!-- <p>Cloud Fundamentals - <strong><span class="default-highlight">AWS Academy Cloud Foundations</span></strong> - July/2022</p>
        <ul>
          <li>
            Certification issued by Amazon Web Services Training and Certification upon successful completion of the AWS Academy Cloud Foundations course. 
            Proficient in core AWS services including compute, storage, networking, pricing models, and support options.
          </li>
        </ul> -->
      </div>
      
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Techs I use</mat-panel-title>
      </mat-expansion-panel-header>
      <!-- <div class="tech-board">
      
        <div class="tech-cell">
          <i class="devicon-java-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-spring-original-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-hibernate-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-postgresql-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-mysql-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-sqlite-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-angular-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-typescript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-javascript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-html5-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-css3-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-bootstrap-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-python-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-flask-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-poetry-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-selenium-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-playwright-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-docker-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-kubernetes-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-git-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-github-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-jira-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-vscode-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-intellij-plain colored"></i>
        </div>
      </div> -->
      <div class="tech-board">
        <div class="tech-cell"><i class="devicon-html5-plain colored"></i></div>
        <div class="tech-cell"><i class="devicon-css3-plain colored"></i></div>
        <div class="tech-cell"><i class="devicon-bootstrap-plain colored"></i></div>
        <div class="tech-cell"><i class="devicon-javascript-plain colored"></i></div>
        <div class="tech-cell"><i class="devicon-typescript-plain colored"></i></div>
        <div class="tech-cell"><i class="devicon-angular-plain colored"></i></div>
        <div class="tech-cell"><i class="devicon-react-original colored"></i></div>
        <div class="tech-cell"><i class="devicon-git-plain colored"></i></div>
        <div class="tech-cell"><i class="devicon-gitlab-plain colored"></i></div>
        <div class="tech-cell"><i class="devicon-postman-plain colored"></i></div>
        <div class="tech-cell"><i class="devicon-graphql-plain colored"></i></div>
        <div class="tech-cell"><i class="devicon-mysql-plain-wordmark colored"></i></div>
        <div class="tech-cell"><i class="devicon-mongodb-plain-wordmark colored"></i></div>
        <div class="tech-cell"><i class="devicon-vscode-plain colored"></i></div>
        <div class="tech-cell"><i class="devicon-jquery-plain-wordmark colored"></i></div>
        <div class="tech-cell"><i class="devicon-java-plain-wordmark colored"></i></div>
  
        <div class="tech-cell"><i class="devicon-python-plain colored"></i></div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>