<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Engineering the digital world from end to pixel—frontend first.</h1>
        <h2 class="home-author">Saddam Shaikh, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
          I am a Frontend Developer with 3 years of experience crafting intuitive and responsive user interfaces. I specialize in modern web technologies like HTML5, CSS3, JavaScript, Typescript and Angular, React, creating accessible, scalable, and high-performance applications that delight users.
        </blockquote>
        <button>
            <a routerLink="/portfolio"  class="a-green">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  