<div class="align-items-center default-container">
  <div class="col-lg-8">
    <div class="text-left">
      <h1 class="home-title">
        Engineering the digital world from end to pixel—frontend first.
      </h1>
      <h2 class="home-author">
        Saddam Shaikh, <span id="dynamic-text">{{ dynamicText }}</span>
      </h2>
      <blockquote class="developer-bio">
        I’m a Frontend Developer with 3 years of experience building intuitive, responsive, and performance-driven user interfaces.
        I specialize in modern web technologies such as HTML5, CSS3, JavaScript, TypeScript, Angular, and React — crafting accessible,
        scalable, and high-quality applications that enhance user experience.
      </blockquote>
      <button>
        <a routerLink="/portfolio" class="a-green">
          &gt; Check Portfolio
        </a>
      </button>
    </div>
  </div>
</div>
